<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Moji bodovi</h1>
        <p>Trenutni broj bodova: <%= points %></p>
        <a href="/logout">Logout</a>

        <div>
            <% rewards.forEach(r => { %>
                <% if (r.potrebni_bodovi <= points) {%>
                    <div style="border:1px solid #ccc; padding:10px; margin:10px;">
                    <h3><%= r.naziv %></h3>
                    <img src="<%= r.slika %>" width="100" />

                    <p>Bodovi: <%= r.potrebni_bodovi %></p>

                    <!-- DELETE GUMB -->
                    <form action="/rewards/<%= r.nagrada_id %>?_method=DELETE" method="POST">
                        <button style="color:red;">🗑 Delete</button>
                    </form>
                    </div>
                <% } %>
            <% }) %>
        </div>
    </body>
</html>